{% extends 'layout.html' %}

{% block content %}

<section class="hero align-items-stretch text-white bg-primary mb-5">
  <div class="container" style="background-color: beige; color: black;">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="display-4 mb-3" >Welcome to SkillsFargo</h3>
        <p class="lead mb-4">
            Welcome to SkillsFargo, where connecting job seekers and employers is effortless.
            Our innovative AI enabled resume matcher simplifies the process, ensuring the perfect fit. 
            Say goodbye to tedious searches. Join us today and experience the future of recruitment!
        </p>
        
        <a href="recruiter" class="btn btn-lg btn-dark" style="margin-bottom: 15px;">Get Started</a>
      </div>
    </div>
  </div>
</section>

</div>

{% endblock %}