{% extends 'layout.html' %}

{% block content %}


<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card mt-5">

      <div class="card-body">

        <h4 class="card-title text-center">Specify Requirements</h4>

        <form method="POST" action="/recruiter">
          
          {{ form.hidden_tag() }}

          <div class="form-group" style="margin: 10px;">
            {{ form.context(class="form-control", placeholder="Context") }}
          </div>

          <div class="form-group" style="margin: 10px;">
            {{ form.category(class="form-control", placeholder="Category") }}
          </div>

          <!-- <div class="form-group" style="margin: 10px;">
            {{ form.threshold(class="form-control", placeholder="Threshold") }}
          </div> -->

          <div class="form-group" style="margin: 10px;">
            <label for="threshold">Threshold:</label>
            <input type="range" class="form-range" id="threshold" name="threshold" min="0" max="1" step="0.1" value="{{ form.threshold.data }}">
            <output for="threshold" id="thresholdValue">{{ form.threshold.data }}</output>
          </div>

          <div class="form-group" style="margin: 10px;">
            {{ form.num_of_matches(class="form-control", placeholder="Number of matches") }}
          </div>

          <div class="form-group" style="margin: 10px;">
            {{ form.input_path(class="form-control", placeholder="Input path") }}
          </div>
          <center>{{ form.submit(class="btn btn-dark btn-block") }}</center>

        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Update the output element with the value of the range input
  document.getElementById('threshold').addEventListener('input', function() {
    document.getElementById('thresholdValue').innerHTML = this.value;
  });
</script>

{% endblock %}